.w-100 {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-visible {
    overflow: visible;
}

// text ellipsis

.text-elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-elipsis-2-line {
    @include text-elipsis(2);
}

.text-elipsis-3-line {
    @include text-elipsis(3);
}

// stcik top left 

.sticky {
    position: sticky;
    top: 0;
    left: 0;
}

// gird 



.grid-2 {
    @include grid-style();
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    @include grid-style();
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    @include grid-style();
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    @include grid-style();
    grid-template-columns: repeat(5, 1fr);
}


// grid md 

@media (max-width: $breakpoint-md) {

    .grid-md-1 {
        @include grid-style();
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-md-2 {
        @include grid-style();
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-md-3 {
        @include grid-style();
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-md-4 {
        @include grid-style();
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-md-5 {
        @include grid-style();
        grid-template-columns: repeat(5, 1fr);
    }
}

// grid sm

@media (max-width: $breakpoint-sm) {

    .grid-sm-1 {
        @include grid-style();
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-sm-2 {
        @include grid-style();
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-sm-3 {
        @include grid-style();
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-sm-4 {
        @include grid-style();
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-sm-5 {
        @include grid-style();
        grid-template-columns: repeat(5, 1fr);
    }
}




// dynamic classes for text color

@include text-colors(light);
@include text-colors(dark);
@include text-colors(primary);
@include text-colors(secondary);
@include text-colors(danger);
@include text-colors(success);
@include text-colors(info);
@include text-colors(warning);
@include text-colors(font);
@include text-colors(font-light);
@include text-colors(font-dark);



// background classes

@include bg-colors(light);
@include bg-colors(dark);
@include bg-colors(primary);
@include bg-colors(secondary);
@include bg-colors(danger);
@include bg-colors(success);
@include bg-colors(info);
@include bg-colors(warning);
@include bg-colors(font);
@include bg-colors(font-light);
@include bg-colors(font-dark);




// shadow classes

@include box-shadow(xxs);
@include box-shadow(xs);
@include box-shadow(sm);
@include box-shadow(md);
@include box-shadow(lg);
@include box-shadow(xl);
@include box-shadow(xxl);
@include box-shadow(xxxl);


// border classes

@include border(light);
@include border(dark);
@include border(primary);
@include border(secondary);
@include border(danger);
@include border(success);
@include border(info);
@include border(warning);



// border radius classes

@include border-radius(xxs);
@include border-radius(xs);
@include border-radius(sm);
@include border-radius(md);
@include border-radius(lg);
@include border-radius(xl);
@include border-radius(xxl);
@include border-radius(xxxl);


// font weight classes


@include font-weight(light);
@include font-weight(normal);
@include font-weight(medium);
@include font-weight(semibold);
@include font-weight(bold);
@include font-weight(bolder);


// transition classes

@include transition(xxs);
@include transition(xs);
@include transition(sm);
@include transition(md);
@include transition(lg);



// text align



@include dynamic-class('text', 'text-align', left);
@include dynamic-class('text', 'text-align', right);
@include dynamic-class('text', 'text-align', center);
@include dynamic-class('text', 'text-align', justify);

// align items

@include dynamic-class('align', 'align-items', flex-start);
@include dynamic-class('align', 'align-items', flex-end);
@include dynamic-class('align', 'align-items', center);
@include dynamic-class('align', 'align-items', baseline);
@include dynamic-class('align', 'align-items', stretch);

// justify content

@include dynamic-class('justify', 'justify-content', flex-start);
@include dynamic-class('justify', 'justify-content', flex-end);
@include dynamic-class('justify', 'justify-content', center);
@include dynamic-class('justify', 'justify-content', space-between);
@include dynamic-class('justify', 'justify-content', space-around);
@include dynamic-class('justify', 'justify-content', space-evenly);

// flex direction

@include dynamic-class('flex', 'flex-direction', row);
@include dynamic-class('flex', 'flex-direction', row-reverse);
@include dynamic-class('flex', 'flex-direction', column);
@include dynamic-class('flex', 'flex-direction', column-reverse);


// flex wrap

@include dynamic-class('flex', 'flex-wrap', nowrap);
@include dynamic-class('flex', 'flex-wrap', wrap);
@include dynamic-class('flex', 'flex-wrap', wrap-reverse);


// display

@include dynamic-class('d', 'display', flex);
@include dynamic-class('d', 'display', block);
@include dynamic-class('d', 'display', none);

// flex 

@include dynamic-class('flex', 'flex', 1);
@include dynamic-class('flex-grow', 'flex-grow', 1);

// position classes

@include dynamic-class('position', 'position', relative);
@include dynamic-class('position', 'position', absolute);
@include dynamic-class('position', 'position', fixed);
@include dynamic-class('position', 'position', sticky);


// object fit

@include dynamic-class('object', 'object-fit', contain);
@include dynamic-class('object', 'object-fit', cover);
@include dynamic-class('object', 'object-fit', fill);

// list style

@include dynamic-class('list-style', 'list-style', none);
@include dynamic-class('list-style', 'list-style', disc);
@include dynamic-class('list-style', 'list-style', circle);

// font style

@include dynamic-class('font-style', 'font-style', italic);
@include dynamic-class('font-style', 'font-style', normal);



// dynamic classes for margin

@include spacing(m-xxs, margin, $space-xxs);
@include spacing(m-xs, margin, $space-xs);
@include spacing(m-sm, margin, $space-sm);
@include spacing(m-md, margin, $space-md);
@include spacing(m-lg, margin, $space-lg);
@include spacing(m-xl, margin, $space-xl);
@include spacing(m-xxl, margin, $space-xxl);
@include spacing(m-xxxl, margin, $space-xxxl);


@include margin(mt-xxs, top, $space-xxs);
@include margin(mb-xxs, bottom, $space-xxs);
@include margin(ml-xxs, left, $space-xxs);
@include margin(mr-xxs, right, $space-xxs);

@include margin(mt-xs, top, $space-xs);
@include margin(mb-xs, bottom, $space-xs);
@include margin(ml-xs, left, $space-xs);
@include margin(mr-xs, right, $space-xs);

@include margin(mt-sm, top, $space-sm);
@include margin(mb-sm, bottom, $space-sm);
@include margin(ml-sm, left, $space-sm);
@include margin(mr-sm, right, $space-sm);


@include margin(mt-md, top, $space-md);
@include margin(mb-md, bottom, $space-md);
@include margin(ml-md, left, $space-md);
@include margin(mr-md, right, $space-md);

@include margin(mt-lg, top, $space-lg);
@include margin(mb-lg, bottom, $space-lg);
@include margin(ml-lg, left, $space-lg);
@include margin(mr-lg, right, $space-lg);

@include margin(mt-xl, top, $space-xl);
@include margin(mb-xl, bottom, $space-xl);
@include margin(ml-xl, left, $space-xl);
@include margin(mr-xl, right, $space-xl);

@include margin(mt-xxl, top, $space-xxl);
@include margin(mb-xxl, bottom, $space-xxl);
@include margin(ml-xxl, left, $space-xxl);
@include margin(mr-xxl, right, $space-xxl);

@include margin(mt-xxxl, top, $space-xxxl);
@include margin(mb-xxxl, bottom, $space-xxxl);
@include margin(ml-xxxl, left, $space-xxxl);
@include margin(mr-xxxl, right, $space-xxxl);




// dynamic classes for padding



@include spacing(p-xxs, padding, $space-xxs);
@include spacing(p-xs, padding, $space-xs);
@include spacing(p-sm, padding, $space-sm);
@include spacing(p-md, padding, $space-md);
@include spacing(p-lg, padding, $space-lg);
@include spacing(p-xl, padding, $space-xl);
@include spacing(p-xxl, padding, $space-xxl);
@include spacing(p-xxxl, padding, $space-xxxl);

@include padding(pt-xxs, top, $space-xxs);
@include padding(pb-xxs, bottom, $space-xxs);
@include padding(pl-xxs, left, $space-xxs);
@include padding(pr-xxs, right, $space-xxs);

@include padding(pt-xs, top, $space-xs);
@include padding(pb-xs, bottom, $space-xs);
@include padding(pl-xs, left, $space-xs);
@include padding(pr-xs, right, $space-xs);

@include padding(pt-sm, top, $space-sm);
@include padding(pb-sm, bottom, $space-sm);
@include padding(pl-sm, left, $space-sm);
@include padding(pr-sm, right, $space-sm);

@include padding(pt-md, top, $space-md);
@include padding(pb-md, bottom, $space-md);
@include padding(pl-md, left, $space-md);
@include padding(pr-md, right, $space-md);

@include padding(pt-lg, top, $space-lg);
@include padding(pb-lg, bottom, $space-lg);
@include padding(pl-lg, left, $space-lg);
@include padding(pr-lg, right, $space-lg);

@include padding(pt-xl, top, $space-xl);
@include padding(pb-xl, bottom, $space-xl);
@include padding(pl-xl, left, $space-xl);
@include padding(pr-xl, right, $space-xl);

@include padding(pt-xxl, top, $space-xxl);
@include padding(pb-xxl, bottom, $space-xxl);
@include padding(pl-xxl, left, $space-xxl);
@include padding(pr-xxl, right, $space-xxl);

@include padding(pt-xxxl, top, $space-xxxl);
@include padding(pb-xxxl, bottom, $space-xxxl);
@include padding(pl-xxxl, left, $space-xxxl);
@include padding(pr-xxxl, right, $space-xxxl);